@using CuaHangBanGiay.Models;
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="@Url.Action("Index", "DanhMuc")" class="brand-link">
        <img src="~/@(Init.folderImageProduct)Adidas NMD/Adidas NMD.jpg" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">ShoesShop</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/@(Init.folderImageProduct)Adidas NMD/Adidas NMD.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@Session["Admin"]</a>
            </div>
        </div>
        <div>
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="@Url.Action("DangXuat","Admin")" class="nav-link">
                        <i class="nav-icon fa fa-retweet"></i>
                        <p>
                            Đăng xuất

                        </p>
                    </a>
                </li>
            </ul>

        </div>
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <!--<li class="nav-item">
    <a href="~/Content/AdminLTE-3.2.0/pages/widgets.html" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Trang điều khiển-->
                @*<span class="right badge badge-danger">New</span>*@
                <!--</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="~/Content/AdminLTE-3.2.0/pages/widgets.html" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
                Banner sản phẩm-->
                @*<span class="right badge badge-danger">New</span>*@
                <!--</p>
        </a>
    </li>-->
                <li class="nav-item">
                    <a href="@Url.Action("Index","Admin")" class="@(ViewContext.RouteData.Values["controller"].ToString()=="Admin"?"nav-link active":"nav-link")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Trang chủ

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Banner")" class="@(ViewContext.RouteData.Values["controller"].ToString()=="Banner"?"nav-link active":"nav-link")">
                        <i class="nav-icon fas fa-image"></i>
                        <p>
                            Quản lý banner

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","DoanhThu")" class="@(ViewContext.RouteData.Values["controller"].ToString()=="DoanhThu"?"nav-link active":"nav-link")">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>
                            Thống kê doanh thu
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","DanhMuc")" class="@(ViewContext.RouteData.Values["controller"].ToString()=="DanhMuc"?"nav-link active":"nav-link")">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Quản lý danh mục

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","MatHang")" class="@(ViewContext.RouteData.Values["controller"].ToString()=="MatHang"?"nav-link active":"nav-link")">
                        <i class="nav-icon fas fa-box"></i>
                        <p>
                            Quản lý sản phẩm

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","DonHang")" class="@(ViewContext.RouteData.Values["controller"].ToString()=="DonHang"?"nav-link active":"nav-link")">
                        <i class="nav-icon fas fa-receipt"></i>
                        <p>
                            Quản lý đơn hàng

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","TinhTrangDonHang")" class="@(ViewContext.RouteData.Values["controller"].ToString()=="TinhTrangDonHang"?"nav-link active":"nav-link")">
                        <i class="nav-icon fas fa-truck"></i>
                        <p>
                            Tình trạng đơn hàng

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","KhachHang")" class="@(ViewContext.RouteData.Values["controller"].ToString()=="KhachHang"?"nav-link active":"nav-link")">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Quản lý khách hàng
                            @*<span class="right badge badge-danger">New</span>*@
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

